.cart {
  width: 100%;
  min-height: 50%;
  overflow-y: auto;
  margin: 20px 0 20px;
  border: #ccc5b9 2px solid;
  border-radius: 20px;
  scroll-behavior: smooth;
}
.cart table {
  color: #403d39;
  width: 100%;
}

.cart tbody {
  height: 80%;
  color: #ccc5b9;
}

.cart tbody tr {
  height: 100px;
}

.cart tbody td {
  height: 100px;
  text-align: center;
  border: #403d39 1px solid;
}
.img {
  width: 300px;
}

.img img {
  height: 100px;
}
.delbtn {
  color: #eb3f28;
  cursor: pointer;
  height: 2em;
  width: 2em;
}
